<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReserHub"
        tools:targetApi="31">
        <activity
            android:name=".views.profile.ProfileClient"
            android:exported="false" />
        <activity
            android:name=".views.profile.profile_client"
            android:exported="false" />
        <activity
            android:name=".views.hub.hub"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.SuperAdmin"
            android:exported="false" />
        <activity
            android:name=".DashboardCompany"
            android:exported="false" />
        <activity
            android:name=".HubServices"
            android:exported="false" />
        <activity
            android:name=".views.login.LoginSignIn"
            android:exported="false" />
        <activity
            android:name=".views.login.LoginSignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ReserHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>